
@font-face {
    font-family: 'Petita Bold';
    src: url('../../fonts/Petita/petitabold-webfont.woff2') format('woff2'),
         url('../../fonts/Petita/petitabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Petita Light';
    src: url('../../fonts/Petita/petitalight-webfont.woff2') format('woff2'),
         url('../../fonts/Petita/petitalight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Petita Medium';
    src: url('../../fonts/Petita/petitamedium-webfont.woff2') format('woff2'),
         url('../../fonts/Petita/petitamedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
